@import 'variables';
@import 'priceCards';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

body {
  display: flex;
  // justify-content: center;
  // align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #141b1c;
}

.price-cards {
  // height: 1000px;
  margin: auto;
  display: flex;
  gap: 18px;
}
