.price-card {
  width: 380px;
  height: 770px;
  background-color: #334247;
  position: relative;
  overflow: hidden;

  &__header {
    height: 133px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin: 0;
    line-height: 43px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }

  &__subtitle {
    margin: 0;
    line-height: 24px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }

  &__promotion {
    position: absolute;
    top: 31px;
    right: -30px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 147px;
    height: 25px;
    font-size: 14px;
    font-weight: 700;
    background-color: rgba(220, 63, 69, 1);
  }

  &__price {
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-green {
      background-color: $green-color;
    }

    &-blue {
      background-color: $blue-color;
    }

    &-orange {
      background-color: $orange-color;
    }
  }

  &__sum {
    font-size: 55px;
    font-weight: 700;
  }

  &__description {
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;

    &_text {
      width: 328px;
      height: 36px;
      font-size: 15px;
      font-weight: 300;
      line-height: 100%;
      text-align: center;
    }
  }

  &__options-list {
    margin: 0;
    padding: 0;
  }

  &__list_item {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5;

    &:nth-child(odd) {
      background-color: rgba(42, 52, 56, 0.5);
    }
  }

  &__icon {
    width: 15px;
    height: 13px;
    margin: 0 22px;

    &_green {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
    }

    &_blue {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
    }

    &_orange {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
    }
  }

  &__order {
    height: 119px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    width: 156px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;

    &-green {
      background-color: $green-color;
    }

    &-blue {
      background-color: $blue-color;
    }

    &-orange {
      background-color: $orange-color;
    }
  }
}
