@use 'colors';
.card {
	width: 380px;
	height: 770px;
	background-color: colors.$cards;
	box-shadow: 0px 6px 6px 0px #00000016;
	text-align: center;
	position: relative;
	overflow: hidden;
	&__badge {
		width: 147px;
		height: 25px;
		top: 30px;
		right: -30px;
		background: colors.$badge;
		justify-content: center;
		align-items: center;
		position: absolute;
		font-size: 14px;
		line-height: 17px;
		font-weight: 700;
		transform: rotate(45deg);
	}
	&__title {
		margin: 0;
		margin-top: 32px;
		font-size: 35px;
		font-weight: 700;
		line-height: 43px;
	}
	&__subtitle {
		margin: 0;
		font-size: 25px;
		font-weight: 300;
	}
	&__price {
		height: 105px;
		margin-top: 31px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 55px;
		font-weight: 700;
	}
	&__description {
		margin: 40px 26px;
		font-weight: 300;
		font-size: 15px;
		line-height: 100%;
	}
	&__options-list {
		margin: 0;
		padding: 0;
		&_item {
			height: 50px;
			display: flex;
			align-items: center;
			font-size: 15px;
			font-weight: 300;
			&:nth-child(odd) {
				background-color: rgba(42, 52, 56, 0.5);
			}
			&-check {
				width: 15px;
				height: 13px;
				margin-left: 22px;
				margin-right: 22px;
			}
		}
	}
	&__button {
		width: 156px;
		height: 40px;
		margin: 39px auto 0;
		padding: 0;
		border-radius: 20px;
		border: none;
		font-size: 14px;
		font-weight: 400;
		color: colors.$text;
	}
}
