@use 'colors';
.color-card-1 {
	background-color: colors.$green;
}
.color-card-2 {
	background-color: colors.$blue;
}
.color-card-3 {
	background-color: colors.$orange;
}
.check-card-1 {
	background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
}
.check-card-2 {
	background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
}
.check-card-3 {
	background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
}
.badge-card-1 {
	display: none;
}
.badge-card-2 {
	display: flex;
}
.badge-card-3 {
	display: none;
}
